<div id="sidebar">

	<!-- Sidebar -->
	
	<!-- Blog Post Snippets | Delete or comment out if no blog -->
	<h3>Read About:</h3>
	{% for post in site.posts offset: 0 limit: 4 %}
		<section>
			<h4>{{ post.title }}</h4>
			<p style="font-size:14px"><time itemprop="dateCreated" datetime="{{post.date}}">{{ post.date | date:"%B %-d, %Y" }}</time></p>
			<p style="font-size:14px">{{ post.excerpt | strip_html }}</p>
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
			</footer>
		</section>
	{% endfor %}
	
</div>