{% include header.html %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">

			<!-- Blog -->
				<section>
					<header class="major">
						<h2>{{ page.title }}</h2>
					</header>

					<div class="row">
						<div class="8u -2u">
							<section class="box">
								<a href="#" class="image"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
								<p>Posted {{ page.date | date:"%B %-d, %Y" }}
								<br>By {{ page.author }}</p>
								{{ page.content }}
							</section>
						</div>
					</div>
				</section>

		</div>
	</section>
{% include footer.html %}
