{% include header.html %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">

			<!-- Blog -->
				<section>
					

					<div class="row">
						<div class="8u -2u">
							<section class="box">
									<header class="major">
											<h2>{{ page.title }}</h2>
										</header>
								<p style="text-align:center;"><a href="#" class="image"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" style="max-width:800px;vertical-align:middle;margin:0px 0px 0px 0px;" /></a></p>
								<p>Posted {{ page.date | date:"%B %-d, %Y" }}
								<br>By {{ page.author }}</p>
								{{ page.content }}
							</section>
						</div>
					</div>
				</section>

		</div>
	</section>
{% include footer.html %}
